* {
    margin: 0;
    padding: 0;
}

body {
    background-color:pink;
    font-family: 'Poppins', sans-serif;
}

.cabecalho__titulo {
    color:red;
}

.cabecalho__titulo--dois {
    font-weight: 300;
}

.cabecalho {
    background: white;
}

.cabecalho__lista {
    display: flex;
    list-style-type: none;
}

.cabecalho__lista-item {
    margin: 0 12px;
}

.cabecalho__lista-item a {
    text-decoration: none;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
